.example-spacer {
    flex: 1 1 auto;
   
}
mat-toolbar
{
    background-color: #31326f ;
    color : white;
   
}


button{
    outline:none; 
  }

img{
    height: 5px;
    width: 5px;
}

.hack{
    border: none;
}