table {
    margin-top: 4px;
    width: 100%;
  
    
  }
  
  button {
    margin: 16px 8px;
  }

.sort-by{
    margin-top: 25px;
      margin-bottom: 15px;
      max-width: 75px;
    right: -10px;
  }
  // .search{
  //   margin-left: 1000px;
  // }